html {
    background-color: blanchedalmond;
}

body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.backdrop {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/059/607/113/small_2x/yellow-spheres-composition-on-black-backdrop-cut-out-transparent-png.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.login-box {
    width: 36vw;
    height: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: coral;
    border-radius: calc(1vw + 1vh);

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    /* translate comes from JS via CSS variables; scale is from your pulse */
    transform: translate(var(--tx, 0), var(--ty, 0)) scale(1);
    will-change: transform;
    animation: pulse 2s infinite;

    display: flex;
    justify-content: left;
    flex-direction: column;
}

.login-box:hover {
    transform: rotateY(180deg);
}

@keyframes pulse {
    0% {
        transform: translate(var(--tx, 0), var(--ty, 0)) scale(1);
        box-shadow: 0 0 0 0 rgba(255, 201, 121, 1);
    }

    70% {
        transform: translate(var(--tx, 0), var(--ty, 0)) scale(1);
        box-shadow: 0 0 0 30px rgba(255, 201, 121, 0);
    }

    100% {
        transform: translate(var(--tx, 0), var(--ty, 0)) scale(1);
        box-shadow: 0 0 0 0 rgba(255, 201, 121, 0);
    }
}

h1 {
    margin-top: 1vw;
}

label{
    margin-top: 0;
    margin-left: 1vw;
    margin-bottom: 1vh;
}

input {
    margin-bottom: 3vh;
    height: 3vh;
    border-radius: calc(0.5vw + 0.5vh);
    padding-left: 2vw;
    border: 0;
    font-size: 1em;
}

#submit {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    margin-top: 1vh;
    margin-bottom: 0;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    height: 4vh;
    cursor: pointer;
}