body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: blanchedalmond;
    width: 100dvw;
    height: 100dvh;
    margin: 0;

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.backdrop {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/059/607/113/small_2x/yellow-spheres-composition-on-black-backdrop-cut-out-transparent-png.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

i {
    cursor: pointer;
}

.main {
    width: 93dvw;
    height: 93dvh;
    background-color: coral;
    padding: 1vh;
    border-radius: calc(1vw + 1vh);

    display: flex;
    justify-content: left;
    flex-direction: column;

    overflow: hidden;
}

.header {
    height: 10%;
    padding-left: 2vw;
    padding-right: 2vw;
    width: calc(100% - 2*2vw);
    background-color: rgb(255, 200, 180);
    border-top-left-radius: calc(1vw);
    border-top-right-radius: calc(1vw);
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-weight: normal;
}

.spin {
    animation: rotate 0.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.2);
    }
}

.fa-floppy-disk {
    transform: scale(1.2);
}

.fa-trash {
    transform: scale(1.2);
}

.pulse {
    animation: pulse 1.5s infinite ease-in-out;
}

.main-table {
    width: calc(100% - 5vw);
    margin-top: 3vh;
    padding-left: 0.5vw;
    margin-left: 2vw;
    padding-right: 0.5vw;
    margin-right: 2vw;
    color: black;
    font-size: 1.5em;
    background-color: bisque;
    border-radius: 10px;
}

.main-table tr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1vh;
}

.main-table tr:last-child {
    margin-bottom: 1vh;
}

.main-table tr:nth-child(2) {
    margin-top: 0;
}

.main-table td {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    padding: 0;
    height: auto;
    min-height: 33px;
}

.main-table td:first-child {
    width: 40%;
    margin-right: 1vw;
}

.main-table td:nth-last-child(-n + 2) {
    width: auto;
    border: none;
    margin-left: 0.6vw;
    width: 7%;
    height: 40px;
    overflow: visible
}

.main-table b {
    font-weight: normal;
}

.main-table td:first-child b {
    font-weight: bold;
}

.main-table b {
    width: 100%;
    text-align: left;
}

.main-table textarea {
    width: 100%;
    height: 27px;
    border: none;
    padding-left: 2vw;
    font-size: 1.1em;
    white-space:pre-wrap; 
    word-wrap:break-word;
    padding-top: 3px;
    padding-bottom: 3px;
    outline: none;
    resize: none;
    padding-right: 1vw;
}

.main-table input {
    height: 27px;
    border: none;
    padding-left: 2vw;
    font-size: 1.1em;
    white-space:pre-wrap; 
    word-wrap:break-word;
    padding-top: 3px;
    padding-bottom: 3px;
    outline: none;
}


th, td {
    border: 2px solid black;
    border-radius: 10px;
}

.fa-spinner {
    animation: rotate 2s infinite linear;
}

tr#titles td {
    border: none;
    margin-left: 2vw;
}